<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}tr-TR{{ end }}">
{{- partial "head.html" . -}}

<body>
    <!-- Google Tag Manager (noscript) - Commented out due to SEO concerns (iframe usage flagged as spam) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.google_tag_manager }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    {{- partial "preloader.html" . -}}
    {{- partial "header.html" . -}}
    {{ if not .IsHome }} <div class="py-5 d-none d-lg-block"></div> {{ end }}
    {{- block "main" . }}
    {{- end }}
    {{- partial "footer.html" . -}}
</body>

</html>
