{{ define "main" }}

<div class="text-center section">
  <h1 class="display-1">Categories</h1>
  <h2>---</h2>
  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="row shadow bg-white p-5">
            <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
              {{/*<img src="/images/categories.png" style="height: 174px;" class="mr-4" alt="...">*/}}</div>
            <div class="col-md-8 text-center text-md-left">
              <h3 class="mt-0">Categories</h3>
              <br>

                {{/*  <a href="/categories/docker/"
                class="btn btn-success">Docker</a>
                <a href="/categories/linux/"
                class="btn btn-success">Linux</a>
                <a href="/categories/windows/"
                class="btn btn-success">Windows</a>
                <a href="/categories/hacking/"
                class="btn btn-success">Hacking</a>
                <a href="/categories/coding/"
                class="btn btn-success">Coding</a>
                <a href="/categories/network/"
                class="btn btn-success">Network</a>
                <a href="/categories/language/"
                class="btn btn-success">Language</a>  */}}
            </div>
            <!-- <a href="/categories/info/"
              class="btn btn-success">Info</a> -->
            <a href="/categories/git/"
              class="btn btn-success">Git</a>
            <!-- <a href="/categories/FreeCAD/"
              class="btn btn-success">FreeCAD</a> -->
            <a href="/categories/Windows/"
              class="btn btn-success">Windows</a>
            <a href="/categories/Linux/"
              class="btn btn-success">Linux</a>
            <a href="/categories/Docker/"
              class="btn btn-success">Docker</a>
            <a href="/categories/Health/"
              class="btn btn-success">Health</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ end }}
